<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">

            <h1 class="mb-1">Enlaces <small>Favoritos</small></h1>
            <h3 class="mb-5">¡Guarda tus enlaces favoritos!</h3>
            <a class="btn btn-success" href="/registrarse">
                ¡Registrarse para comenzar!
            </a>
        </div>
    </header>
</main>