<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Agregar un enlace</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Use este formulario para agregar favoritos</h6>
                    <p>
                        <form action="/links/edit/{{ enlace.id }}" method="POST">
                            <div class="form-group">
                                <input value="{{ enlace.title }}" type="text" class="form-control" name="title" placeholder="Titulo..." required autofocus>
                            </div>
                            <div class="form-group">
                                <input value="{{ enlace.url }}" type="url" class="form-control" name="url" placeholder="URL..." required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Descripción..." name="description" rows="3">{{ enlace.description }}</textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">Guardar</button>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>